page-about {
    b {
        font-weight: 500;
    }

    p {
        text-align: center;
        padding: 0 40px;
        font-size: 14px;
        line-height: 1.5;
        color: #60646B;

        b {
        color: #000000;
        }
    }
}
