<ion-header>

  <ion-navbar color="primary">
    <ion-title>Trip Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-divider color="light" text-center>
      <h2>
        <font>{{location}}</font>
      </h2>
      <p>{{ service_date | date:'dd, MMMM yyyy'}}</p>
    </ion-item-divider>

    <ion-item-divider text-center>
      Departure
    </ion-item-divider>
    <ion-item>
      <ion-icon name='boat' item-start color="{{ color_isFull }}"></ion-icon>
      Plan
      <ion-note item-end *ngIf="location == 'PSAH'">
        {{ timetable.FerryRoute.boarding_a | date:'hh:mm a'}}
      </ion-note>
      <ion-note item-end *ngIf="location == 'PRTU'">
        {{ timetable.FerryRoute.boarding_b | date:'hh:mm a'}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Full</ion-label>
      <ion-toggle [(ngModel)]="isFull" [disabled]="isDisabled" color="danger"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Delay</ion-label>
      <ion-toggle [(ngModel)]="isDelay" [disabled]="isDisabled" color="danger" (ionChange)="changeOntimeColor(timetable)"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Cancel</ion-label>
      <ion-toggle [(ngModel)]="isCancel" color="danger" (ionChange)="changeDelayStatus()"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="(isDelay && !isCancel)">
      <ion-label>Delayed Departure Time</ion-label>
      <ion-datetime displayFormat="hh:mm a" pickerFormat="hh:mm a" [(ngModel)]="delayed_departure" [required]="isDelay"></ion-datetime>
    </ion-item>
    <ion-item *ngIf="isAllow">
      <ion-label>Actual Ferry</ion-label>
      <ion-select [(ngModel)]="actual_ferry">
        <ion-option *ngFor="let ferry of ferries" [value]="ferry.Ferry.name" [selected]="actual_ferry == ferry.Ferry.name"> {{ ferry.Ferry.name }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="isAllow">
    <ion-item-divider text-center>
      Load Summary
    </ion-item-divider>
    <ion-segment color="primary">
      <ion-segment-button value="1" (ionSelect)="addLoading($event)">
        Main Deck
      </ion-segment-button>
      <ion-segment-button value="2" (ionSelect)="addLoading($event)">
        Upper Deck
      </ion-segment-button>
    </ion-segment>
    <ion-item>
      <ion-note>Lorry</ion-note>
      <ion-note item-end>{{ lorry }} </ion-note>
    </ion-item>
    <ion-item>
      <ion-note>Car</ion-note>
      <ion-note item-end>{{ car }} </ion-note>
    </ion-item>
    <ion-item>
      <ion-note>Motorcycle</ion-note>
      <ion-note item-end>{{ motorcycle }} </ion-note>
    </ion-item>
    <ion-item>
      <ion-note>Bicycle</ion-note>
      <ion-note item-end>{{ bicycle }} </ion-note>
    </ion-item>
    <ion-item>
      <ion-note>Pedestarian</ion-note>
      <ion-note item-end>{{ pedestarian }} </ion-note>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer padding>
  <button ion-button block (click)="updateTrip(requestfrom)">{{ submitLabel }} </button>
</ion-footer>
