<ion-header>

  <ion-navbar color="primary">
    <ion-title>Trip Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-divider color="light" text-center>
      <h2>
        <font>{{location}}</font>
      </h2>
      <p>{{ service_date | date:'dd, MMMM yyyy'}}</p>
    </ion-item-divider>

    <ion-item-divider>
      Departure (Pulau Angsa)
    </ion-item-divider>
    <ion-item>
      <ion-icon name='boat' item-start color="{{ color_isFull }}"></ion-icon>
      Plan
      <ion-note item-end *ngIf="location == 'PSAH'">
        {{ timetable.FerryRoute.boarding_a | date:'hh:mm a'}}
      </ion-note>
      <ion-note item-end *ngIf="location == 'PRTU'">
        {{ timetable.FerryRoute.boarding_b | date:'hh:mm a'}}
      </ion-note>
    </ion-item>
    <ion-item>
      <ion-label>Full</ion-label>
      <ion-toggle [(ngModel)]="isFull" color="danger"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Delay</ion-label>
      <ion-toggle [(ngModel)]="isOnTime" color="danger" (ionChange)="changeOntimeColor(timetable)"></ion-toggle>
    </ion-item>
    <ion-item *ngIf="!isOnTime">
      <ion-label>Departure Time</ion-label>
      <ion-datetime displayFormat="hh:mm a" pickerFormat="hh:mm a" [(ngModel)]="delaytime"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Actual Ferry</ion-label>
      <ion-select [(ngModel)]="new_ferry">
        <ion-option value="1">Pulau Pinang</ion-option>
        <ion-option value="2">Pulau Undan</ion-option>
        <ion-option value="3">Pulau Kapas</ion-option>
        <ion-option value="4">Pulau Angsa</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Cancel</ion-label>
      <ion-toggle [(ngModel)]="isCancel" color="danger" (ionChange)="changeDelayStatus()"></ion-toggle>
    </ion-item>
  </ion-list>

  <ion-segment color="primary">
    <ion-segment-button value="0" (ionSelect)="addLoading($event)">
      Ground Load
    </ion-segment-button>
    <ion-segment-button value="1" (ionSelect)="addLoading($event)">
      Level 1 Load
    </ion-segment-button>
  </ion-segment>
</ion-content>

<ion-footer>
  <button ion-button full block (click)="updateTrip()">{{ submitLabel }} </button>
</ion-footer>
