<ion-header>

  <ion-navbar color="primary">
    <ion-title>Trip Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item-divider color="light" text-center>
      <h2>
        <font>{{location}}</font>
      </h2>
      <p>{{ service_date | date:'dd, MMMM yyyy'}}</p>
    </ion-item-divider>
    <ion-item-divider>
      Boarding
    </ion-item-divider>
    <ion-item>
      <ion-icon name='boat' item-start color="{{ color_isFull }}"></ion-icon>
      Plan
      <ion-note item-end *ngIf="location == 'PSAH'">
        {{ timetable.FerryRoute.boarding_a }}
      </ion-note>
      <ion-note item-end *ngIf="location == 'PRTU'">
        {{ timetable.FerryRoute.boarding_b }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label> Available</ion-label>
      <ion-toggle [(ngModel)]="!isFull" color="secondary" (ionChange)="changeFullColor(timetable)"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label> Full</ion-label>
      <ion-toggle [(ngModel)]="isFull" color="danger" ></ion-toggle>
    </ion-item>
    <ion-item-divider>
      Departure
    </ion-item-divider>
    <ion-item>
      <ion-icon name='timer' item-start color="{{ color_isOnTime }}"></ion-icon>
      Plan
      <ion-note item-end *ngIf="location == 'PSAH'">
        {{ timetable.FerryRoute.departure_a }}
      </ion-note>
      <ion-note item-end *ngIf="location == 'PRTU'">
        {{ timetable.FerryRoute.departure_b }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-icon name='speedometer' item-start color="{{ color_isOnTime }}"></ion-icon>
      Actual
      <ion-note item-end>
        {{ time_depart }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label>On Time</ion-label>
      <ion-toggle [(ngModel)]="isOnTime" color="secondary" (ionChange)="changeOntimeColor(timetable)"></ion-toggle>
    </ion-item>

    <ion-item>
      <ion-label>Delay</ion-label>
      <ion-toggle [(ngModel)]="!isOnTime" color="danger" (ionChange)="changeOntimeColor(timetable)"></ion-toggle>
    </ion-item>

  </ion-list>

</ion-content>