<ion-header>
  <ion-navbar>
    <ion-title>Ferry Terminal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page" padding>

  <ion-slides pager>
    <!--<ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="assets/img/logo_subsidiary.png">
    </ion-slide>-->
    <ion-slide *ngFor="let timetable of timetables">
      <ion-list>
        <ion-item-divider color="light" text-center>
          <h2>
            <font>{{location}}: {{ timetable.Route.name }}</font>
          </h2>
        </ion-item-divider>

        <ion-item>
          <ion-icon name='boat' item-start *ngIf="timetable.RouteTimetable.is_on_time" color="primary"></ion-icon>
          <ion-icon name='boat' item-start *ngIf="!timetable.RouteTimetable.is_on_time" color="danger"></ion-icon>
          Boarding
          <ion-note item-end *ngIf="location == 'PSAH'">
            {{ timetable.RouteTimetable.boarding_a }}
          </ion-note>
          <ion-note item-end *ngIf="location == 'PRTU'">
            {{ timetable.RouteTimetable.boarding_b }}
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-icon name='boat' item-start color="secondary"></ion-icon>
          Departure
          <ion-note item-end *ngIf="location == 'PSAH'">
            {{ timetable.RouteTimetable.departure_a }}
          </ion-note>
          <ion-note item-end *ngIf="location == 'PRTU'">
            {{ timetable.RouteTimetable.departure_a }}
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label> On Time</ion-label>
          <ion-toggle checked="true"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label> Full</ion-label>
          <ion-toggle checked="false" color="danger"></ion-toggle>
        </ion-item>
      </ion-list>
      <ion-toolbar>
        <button ion-button full round color="secondary" (click)="updateTrip(timetable)">Confirm</button>
      </ion-toolbar>

    </ion-slide>
  </ion-slides>

</ion-content>