<ion-header>
  <ion-navbar color="primary">
    <ion-title>Ferry Terminal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page" padding>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-divider color="light" text-center>
      <h2>
        <font>{{location}}</font>
      </h2>
      <p>{{ service_date | date:'dd, MMMM yyyy'}}</p>
    </ion-item-divider>

    <ion-item-divider>
      <ion-note>
        Ferry Status
      </ion-note>
      <ion-note item-end>
        Departure
      </ion-note>
      <ion-note item-end>
        Arrival
      </ion-note>
    </ion-item-divider>
    <ion-item *ngFor="let timetable of timetables" (click)="getDetail(timetable)">
      <ion-icon name='boat' item-start color="{{ timetable.FerryRoute.color_isFull}}"></ion-icon>
      <ion-icon name='timer' item-start color="{{ timetable.FerryRoute.color_isOnTime}}"></ion-icon>

      <ion-note item-end *ngIf="location == 'PSAH'">
        {{ timetable.FerryRoute.departure_a | date:'hh:mm a' }}
      </ion-note>
      <ion-note item-end *ngIf="location == 'PRTU'">
        {{ timetable.FerryRoute.departure_b | date:'hh:mm a' }}
      </ion-note>


      <ion-note item-end *ngIf="location == 'PSAH'">
        {{ timetable.FerryRoute.boarding_a | date:'hh:mm a' }}
      </ion-note>
      <ion-note item-end *ngIf="location == 'PRTU'">
        {{ timetable.FerryRoute.boarding_b | date:'hh:mm a' }}
      </ion-note>

    </ion-item>

  </ion-list>

</ion-content>