<ion-header>
  <ion-navbar>
    <ion-title>Ferry Terminal</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page" padding>
  <ion-list>
    <ion-item-divider color="light" text-center>
      <h2>
        <font>{{location}}</font>
      </h2>
      <p>{{ service_date | date:'dd, MMMM yyyy'}}</p>
    </ion-item-divider>
  </ion-list>

  <ion-list inset>
    <ion-item-divider >
      <ion-note>
        Full
      </ion-note>
      <ion-note>
        On Time
      </ion-note>
      <ion-note item-end>
        Boarding
      </ion-note>
      <ion-note item-end>
        Departure
      </ion-note>
    </ion-item-divider>
    <ion-item *ngFor="let timetable of timetables" (click)="getDetail(timetable)">
      <ion-icon name='boat' item-start color="{{ timetable.RouteTrip.color_isFull }}"></ion-icon>
      <ion-icon name='timer' item-start color="{{ timetable.RouteTrip.color_isOntime }}"></ion-icon>
      <ion-note item-end *ngIf="location == 'PSAH'">
        {{ timetable.RouteTimetable.boarding_a }}
      </ion-note>
      <ion-note item-end *ngIf="location == 'PRTU'">
        {{ timetable.RouteTimetable.boarding_b }}
      </ion-note>

      <ion-note item-end *ngIf="location == 'PSAH'">
        {{ timetable.RouteTimetable.departure_a }}
      </ion-note>
      <ion-note item-end *ngIf="location == 'PRTU'">
        {{ timetable.RouteTimetable.departure_b }}
      </ion-note>

    </ion-item>

  </ion-list>

</ion-content>