<ion-header>

  <ion-navbar color="primary">
    <ion-title>Settings</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="AdminSheet()">
        <ion-icon name="boat"></ion-icon>
      </button>
      <button ion-button icon-left (click)="SignOutSheet()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-divider>
      Application Settings
    </ion-item-divider>
    <ion-item>
      <ion-label>Pangkalan</ion-label>
      <ion-select [(ngModel)]="location">
        <ion-option value="PRTU">PRTU</ion-option>
        <ion-option value="PSAH">PSAH</ion-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DDD, DD MMM YYYY" pickerFormat="DD-MM-YYYY" [(ngModel)]="service_date" (ionChange)="displayServiceDate()"></ion-datetime>
    </ion-item>
    <ion-item-divider>
      Ferry Assignments
    </ion-item-divider>
    <!-- <ion-item *ngFor="let ferry of ferry_ops">
      <ion-label>{{ferry.FerryOrder.name}}</ion-label>
      <ion-note item-end> {{ ferry.Ferry.name }} </ion-note>
    </ion-item> -->
    <ion-item *ngFor="let ferry_op of ferry_ops">
      <ion-label>{{ ferry_op.FerryOrder.name }} </ion-label>
      <ion-select [(ngModel)]="ferry_op.FerryOperation.ferry_id" [disabled]="true">
        <ion-option *ngFor="let ferry of ferries" value="{{ ferry.Ferry.id }}"> {{ ferry.Ferry.name }} </ion-option>
      </ion-select>
    </ion-item>
    <button ion-button outline block (click)="refresh_ferryops()">Reload</button>
    <button ion-button outline block color="secondary" (click)="save_ferryops()">Save</button>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="add_ferry_op()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
</ion-content>
