<ion-header>

  <ion-navbar color="primary">
    <ion-buttons start>
      <button ion-button icon-left (click)="refresh_ferryops()">
        <ion-icon name="ios-refresh-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Settings</ion-title>
    <ion-buttons end>
      <button ion-button icon-left (click)="AdminSheet()">
        <ion-icon name="list"></ion-icon>
      </button>
      <button ion-button icon-left (click)="SignOutSheet()">
        <ion-icon name="power"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-item-divider text-center>
      <h2>Application Settings</h2>
    </ion-item-divider>
    <ion-item>
      <ion-label>Pangkalan</ion-label>
      <ion-select [(ngModel)]="location">
        <ion-option value="PRTU">PRTU</ion-option>
        <ion-option value="PSAH">PSAH</ion-option>

      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date</ion-label>
      <ion-datetime displayFormat="DDD, DD MMM YYYY" pickerFormat="DD-MM-YYYY" [(ngModel)]="service_date" (ionChange)="displayServiceDate()"></ion-datetime>
    </ion-item>
    <ion-item-divider text-center>
      <h2>Ferry Assignments</h2>
    </ion-item-divider>
    <ion-item *ngIf="ferry_ops == 0">
      <ion-note text-wrap>Click Add Ferry icon to create ferry assignment ... </ion-note>
    </ion-item>
    <ion-item-sliding *ngFor="let ferry_op of ferry_ops">
      <ion-item>
        <ion-label>{{ ferry_op.FerryOrder.name }} </ion-label>
        <ion-select [(ngModel)]="ferry_op.FerryOperation.ferry_id" [disabled]="true">
          <ion-option *ngFor="let ferry of ferries" value="{{ ferry.Ferry.id }}"> {{ ferry.Ferry.name }} </ion-option>
        </ion-select>
      </ion-item>
      <ion-item-options>
        <button ion-button color="danger" (click)="removeConfirmation(ferry_op)">
          <ion-icon name="trash"></ion-icon>
          Remove
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="secondary" (click)="add_ferry_op()">
      <ion-icon name="add"></ion-icon>
      <ion-icon name="boat"></ion-icon>
    </button>
  </ion-fab>
</ion-content>